<!-- @format -->

<div class="navbar">
  <div class="article__btns">
    <a href="/">⌂</a>
    <a href="/articles/new">+</a>
    <a class="edit__btn" href="/articles/edit/<%= article.id.toString() %>">✎</a>
  </div>
</div>
